<!doctype html>
<html>
<head>
<title>Substance/text demo</title>
<meta charset="utf-8">
<link rel="stylesheet" href="stylesheets/codemirror.css">
<link rel="stylesheet" href="stylesheets/style.css">

<!-- Libraries -->
<script src="lib/underscore.js"></script>
<script src="lib/jquery-min.js"></script>
<script src="lib/jquery.hotkeys.js"></script>
<script src="lib/dance.js"></script>
<script src="lib/codemirror.js"></script>
<script src="lib/surface.js"></script>
<style type="text/css">
/*
	Text annotations styling
*/	
.surface-em{
  color: #feb620;
}
.surface-str{
  font-weight: bold;
}

/*fake link aspect*/
.surface-lnk{
  color: #0000FF;
  text-decoration:underline;
}

/*we hide the log*/
.debug thead,
.debug table[data-type="debug-content"]{
	display:none;
}
</style>

<!-- Templates -->
<script name="text" type="text/html">
	<aside class="tools editor hidden">
	<ul>
		<li><a href="#em" class="tool toggle-annotation" data-type="em">em</a></li>
		<li><a href="#str" class="tool toggle-annotation" data-type="str">str</a></li>
		<li><a href="#save" class="tool save" data-type="save">save</a></li>
		<li><a href="#cancel" class="tool cancel" data-type="cancel">cancel</a></li>
	</ul>
	</aside>
	<aside class="tools edit hidden">
	<ul>
		<li><a href="#edit" class="tool edit" data-type="edit">edit</a></li>
	</ul>
	</aside>
	<article class="node" id="content"></article>
	<div class="clear"></div>
</script>

<script name="log" type="text/html">
<tr id="<%= id %>">
	<td><%= type %></td>
	<td>c<%= start %></td>
	<td>c<%= end %></td>
	<td><%= id %></td>
</tr>

<% if (typeof(url) != 'undefined' && typeof(autor) != 'undefined') { %>
	<tr class="data">
		<th>Data</th>
		<td colspan="3">
			<table cellspacing="0">
				<tr>
					<th>author</th>
					<th>url</th>
				</tr>
				<tr>
					<td><%= autor %></td>
					<td><%= url %></td>
				</tr>
			</table>
		</td>
	</tr>
<% } %>

</script>

<!-- Source -->
<script src="text.js"></script>

<script name="content" type="text/html">Surface is intended to be an extensible low-level interface for rich text editing.

It doesn´t introduce any UI components, but an API for managing user-defined text annotations.

For an implementation of a rich text editor and several examples please refer to Substance Text</script>

<!-- Boot -->
<script>
  $(function() {
    var text = new Substance.Text({
      el: '#editor'
    }).render();

    // set the value should be independent from the init
    text.setValue($('script[name=content]').text());
  });
</script>

</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a title="Substance/Text" href="http://interior.substance.io/modules/text.html">Substance Text</a></li>
			</ul>
		</nav>
	</header>
	<div class="main">
		<section class="doc">
			<div id="editor"></div>
		</section>
	
		<section class="debug">
			<table cellspacing="0">
				<caption>Debug </caption>  
					<thead>  
					<tr>  
						<th>Type</th>
						<th>Start</th>
						<th>End</th>
						<th>ID</th>
					</tr>
				</thead>
				<tbody id="annotationLog">
				</tbody>
			</table>
			<table cellspacing="0" data-type="debug-content">
				<caption>Content</caption>
				<thead>
					<tr>
						<th>Data</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td data-type="content-data">...</td>
					</tr>
				</tbody>
			</table>
		<div class="clear"></div>
		</section>
	</div>
</body>
</html>