/* @override 
	http://localhost/substance/text/stylesheets/style.css
*/

body{
  margin: 0;
  padding: 0;
  background-color: #eef2e6;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
/*we force the scroll to avoid glitches in cm for now*/
	 overflow-y: scroll;
}

.main{
	padding-bottom: 60px;
}

.clear{
	clear: both;
}

.hidden{
	display: none;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

header{
  background: #4F4F4F;
  padding: 12px;
  border-bottom: 1px solid #3f3f3f;
}

header a:link,
header a:visited{
  color: #90938C;
}

header a:hover,
header a:active{
  color: #eef2e6;
}

section{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	padding: 30px 30px 30px 20px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0),0 0 10px rgba(0, 0, 0, 0.1);
	border: 1px solid #bfc3ba;
	border-radius:1px;
}

section.doc{
	background-color: #fff;
}

aside.tools {
	float: left;
	width: 20px;
	margin-top: 0;
	position: absolute;
}

aside.tools li a{
	box-sizing: border-box;
	cursor: pointer;
	border-radius: 3px;
	color: #D4D5CE;
	text-decoration: none;
	float: left;
	margin-bottom: 1px;
	text-indent: -999px;
	padding: 5px;
	background-color: #eef2e6;
	width: 30px;
	height: 30px;
}

aside.tools li a.active{
	background-color: #c7cbc1;
}

aside.tools li a[data-type="em"] {
	background-image: url(em.png);
}

aside.tools li a[data-type="str"] {
	background-image: url(str.png);
}

aside.tools li a[data-type="save"] {
	background-image: url(save.png);
	margin-top: 219px;
}

aside.tools li a[data-type="cancel"] {
	background-image: url(cancel.png);
}

aside.tools li a[data-type="edit"] {
	background-image: url(edit.png);
}

.node{
	font-family: 'Courier New', Courier, mono, monospace;
	float: left;
	width: 90%;
	padding: 20px;
	margin-left: 40px;
	cursor: text;
	border-style: solid;
	border-color: transparent;
	border-width: 1px;
}

.node.active{
	border: 1px dashed #eef2e6;
}

/*
	DEBUG SECTION
*/

section.debug{
	background-color: #4f4f4f;
	color: #90938c;
  	border: 1px solid #3f3f3f;
}

.debug table {
	padding: 0;
	width: 49%;
	font-size: 12px;
	color: #90938c;
	text-align: left;
	float: left;
}

.debug table:not([data-type="debug-content"]){
	margin: 0 2% 0 0;
}

caption {
	text-align: left;
	margin-bottom: 20px;
	font-size: 14px;
	color: #eaeee2;
	text-transform: uppercase;
}

th {
	letter-spacing: 2px;
	text-transform: uppercase;
	background-color: #747771;
	color: #cbcec4;
}

td {
	color: #b8bbb2;
}

tr th,
tr td{
	padding: 6px 6px 6px 12px;
	border-style: solid;
	border-width: 1px;
	border-color: #90938c;
}

tr th:not(:last-child),
tr td:not(:last-child){
	border-right-style: none;
}

tr:first-child th {
	border-bottom-style: none;
}

tr:not(:last-child) td {
	border-bottom-style: none;
}

/* data table*/

tr.data > td{
	padding: 0;
}

tr.data  table  th{
	border-top-style: none;
	border-right-style: none;
}

tr.data  table  td{
	border-bottom-style: none;
	border-right-style: none;
}

tr.data  table  td:first-child{
	border-left-style: none;
}

tr.data  table  th:first-child{
	border-left-style: none;
}



