html{
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

.clear{
	clear: both;
}

.text{
	float: left;
	background-color: #eee;
	padding: 10px;
	border-radius: 3px;
}

.text #toolbar{
	display: none;
}

.text.active #toolbar{
	display: block;
	float: left;
	clear: both;
	margin-left: 10px;
}

.text #toolbar a{
	margin-right: 3px;
	margin-left: 0;
	margin-bottom: 0;
	float: left;
	background-color: #666;
	padding: 5px;
	height: 20px;
	border-radius: 3px;
	color: #fff;
	text-decoration: none;
}

.text #content{
    outline: none;
    border: 1px dashed transparent;
    border-radius: 3px;
    padding: 10px;
	float: left;
	clear: both;
	background-color: #f8f8f8;
	margin: 40px 10px 10px;
}

.text.active #content{
	margin: 10px;
	border: 1px dashed #e9e9e9;
}  

.comment{
	background-color: #B9CE3F;
}

.em{
	font-style: italic;
}

.link{
	background-color: #00CFEA;
}

.str{
	font-weight: bold;
}